body {
    background-color: #F6DFC0;
    color: white;
}

header {
    color: #303D4D;
    text-align: center;
    top: 20px;
    height: 100px;
    position: relative;
}

header > a {
    position: absolute;
    top: 2px;
    left: 30px;
    display: inline;
    color: #303D4D;
}

.hero {
    background-color: #303D4D;
    height: 400px;
}

.user {
    background-color: #F6DFC0;
    height: 100px;
    position: relative;
}

.user_photo {
    border: 4px solid #FF7F66;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 18px;
    margin-left: 18px;
    position: absolute;
}

.user_photo h3 {
    color: #FF7F66;
    font-size: 18pt;
    margin-top: 17px;
    margin-left: 80px;
}

.user_log_in {
    border: 4px solid #FF7F66;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /*margin-top: 18px;*/
    margin-left: -100px;
    position: absolute;
    top: 150px;
    left: 50%;
}

.first_title {
    background-color: #E2CDB0;
    height: 100px;
    margin: 0;
}

.map {
    background-color: #342D27;
    height: 350px;
}

.accept {
    background-color: #303D4D;
    color: #F6DFC0;
    height: 100px;
    position: relative;
}

.members {
    position: absolute;
    margin-left: 18px;
    font-size: 14pt;
    top: 40px;
}

.accept button {
    background-color: #FF7F66;
    position: absolute;
    top: 25px;
    left: 50%;
    margin-left: -100px;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 15px 50px;
    font-size: 14pt;
}

i {
    margin-right: 10px;
}

.bars {
    background-color: #2B3745;
    height: 600px;
    color: #F6DFC0;
    font-size: 14pt;
    position: relative;
}

h2 {
    margin: 0;
    margin-top: ;
}

.log_in {
    text-align: center;
}

.odd {
    height: 100px;
}

.even {
    background-color: #303D4D;
    height: 100px;
}